// Remove default styles from certain elements when they are in a list.
li {

    h2, h3, h4, h5, h6 {
        border: none;
        margin: 0;
        display: inline-block;
    }

    p {
        margin: @spacing / 1.5 0;
    }
}

// Definition lists.
dl {

    dt {
        font-weight: bold;
        text-transform: capitalize;
        padding-bottom: @spacing / 2;

        a {
            color: @link-primary-color;
            text-decoration: none;
            border: 0;
        }
    }

    dd {
        padding-bottom: @spacing / 2;
    }
}

// Ordered lists.
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: custom-counter;

    > li {
        counter-increment: custom-counter;
        margin: 3rem 0 2rem 0;

        &:before {
            content: counter( custom-counter );
            margin-right: 0.5rem;
            color: @footer-bg-color;
            font-weight: bold;
            font-size: @font-size * 2.5;
            line-height: 1rem;
        }

        &:nth-child(-n + 9):before {
            content: '0' counter( custom-counter );
        }

        &:first-of-type {
            margin: 2rem 0 2rem 0;
        }
    }

    // Nested lists: ol > ol
    ol {
            
        li {
            margin: 0.5rem 0 0.5rem @spacing * 1.5;

            p {
                display: inline-block;
            }
            
            &:before {
                font-size: @font-size;
            }

            &:first-of-type {
                margin: 0.5rem 0 0.5rem @spacing * 1.5;
            }
        }
    }

    // Nested lists: ol > ul
    ul {
            
        li {
            margin: 0.5rem 0 0.5rem @spacing * 1.5;

            p {
                display: inline-block;
            }
            
            &:before {
                content: '\2299';
                font-size: @font-size;
                margin-top: -5px;
            }

            &:first-of-type {
                margin: 0.5rem 0 0.5rem @spacing * 1.5;
            }
        }
    }

    &.smaller {
        li {
            margin: 0.5rem 0 0.5rem 0;

            p {
                display: inline-block;
            }
            
            &:before {
                font-size: @font-size;
                margin-top: -6px;
            }

            ol, ul {
            
                li {
                    margin: 0.5rem 0 0.5rem @spacing * 1.5;
                }
            }
        }
    }

    &.indent {

        li {
            margin: 0.5rem 0 0.5rem @spacing * 2;
        }
    }
}


// Unordered list.
ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        margin: 3rem 0 2rem 0;

        &:before {
            content: '\27A4';
            display: inline-block;
            margin-top: -(@font-size * 1.5) / 2;
            margin-right: 0.5rem;
            color: @footer-bg-color;
            font-weight: bold;
            font-size: @font-size * 1.5;
            line-height: 0;
            vertical-align: middle;
        }

        &:first-of-type {
            margin: 2rem 0 2rem 0;
        }
    }

    // Nested lists: ul > ul
    ul {
            
        li {
            margin: 0.5rem 0 0.5rem @spacing * 1.5;

            p {
                display: inline-block;
            }
            
            &:before {
                content: '\2299';
                font-size: @font-size;
                vertical-align: text-top;
            }

            &:first-of-type {
                margin: 0.5rem 0 0.5rem @spacing * 1.5;
            }
        }
    }

    // Nested lists: ul > ol
    ol {
            
        li {
            margin: 0.5rem 0 0.5rem @spacing * 1.5;

            p {
                display: inline-block;
            }
            
            &:before {
                font-size: @font-size;
                vertical-align: text-top;
            }

            &:first-of-type {
                margin: 0.5rem 0 0.5rem @spacing * 1.5;
            }
        }
    }

    &.smaller {
        
        li {
            margin: 0.5rem 0 0.5rem 0;

            p {
                display: inline-block;
            }
            
            &:before {
                font-size: @font-size;
                margin-top: -6px;
            }

            ol, ul {
            
                li {
                    margin: 0.5rem 0 0.5rem @spacing * 1.5;
                }
            }
        }
    }

    &.indent {

        li {
            margin: 0.5rem 0 0.5rem @spacing * 2;
        }
    }
}