<nav>
    <ul>
        <li>
            <div class="section">
                <i class="fas fa-clipboard-check icon"></i> Current
            </div>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}courses/wdd-130/index.html">
                    WDD 130
                    <span class="sub">Web Fundamentals</span>
                </a>
            </div>
        </li>
        <li>
            <div class="section">
                <i class="fas fa-archive icon"></i> Archived
            </div>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}courses/cit-160/index.html">
                    CIT 160 
                    <span class="sub">Introduction to Programing</span>
                </a>
            </div>
        </li>
        <li>
            <div class="section">
                <i class="fas fa-border-style icon"></i> Style Guides
            </div>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}courses/style-guide/lists.html">
                    Lists
                    <span class="sub">Ordered, Unordered, Definition, Nested</span>
                </a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}courses/style-guide/blocks.html">
                    Callout Blocks
                    <span class="sub">Quote, Callout, Rubric, License</span>
                </a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}courses/style-guide/basic.html">
                    Basic Elements
                    <span class="sub">Back, Header, Horizontal Rule, Mark, Kbd, Code, Image, Video</span>
                </a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="{{PATH}}courses/style-guide/advanced.html">
                    Advanced Elements
                    <span class="sub">Collapsible Content, Code Blocks, Katex (Math), Mermaid (Diagrams)</span>
                </a>
            </div>
        </li>
    </ul>
</nav>