<nav>
    <ul>
        <li>
            <div class="section">
                <i class="fas fa-book icon"></i> Resources
            </div>
        </li>
        <li>
            <div class="section">
                <i class="fas fa-calendar-check icon"></i> Assignments
            </div>
        </li>
        <!-- WEEK 1 -->
        <li>
            <div class="link">
                Week 1
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-1/html-vocab.html">HTML Vocabulary</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-1/css-vocab.html">CSS Vocabulary</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 2 -->
        <li>
            <div class="link">
                Week 2
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-2/glitch-intro.html">Glitch Introduction</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>