<nav>
    <ul>
        <li>
            <div class="section">
                <i class="fas fa-book icon"></i> Resources
            </div>
        </li>
        <li>
            <div class="link">
                <a href="syllabus.html" target="_blank">Syllabus</a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="troubleshooting.html">Troubleshooting</a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="colors.html">Colors</a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="image-optimization.html">Image Optimization</a>
            </div>
        </li>
        <li>
            <div class="link">
                <a href="dry-oar.html">Dry Oar Content</a>
            </div>
        </li>
        <li>
            <div class="section">
                <i class="fas fa-calendar-check icon"></i> Assignments
            </div>
        </li>
        <!-- WEEK 1 -->
        <li>
            <div class="link">
                Week 1
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-1/basic-web-dev.html">Basic Web Dev</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-1/html-vocab.html">HTML Vocabulary</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-1/css-vocab.html">CSS Vocabulary</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-1/setup.html">Accounts & Software Setup</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 2 -->
        <li>
            <div class="link">
                Week 2
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-2/new-vocab.html">New Vocabulary</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="https://www.khanacademy.org/computing/computer-programming/html-css/intro-to-html/v/making-webpages-intro" target="_blank" rel="noopener noreferrer">Khan HTML</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="https://www.khanacademy.org/computing/computer-programming/html-css/intro-to-css/pt/css-basics" target="_blank" rel="noopener noreferrer">Khan CSS</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-2/glitch-intro.html">Glitch Introduction</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-2/about-me.html">Glitch About Me</a>
                    </div>
                </li>
                <!--
                <li>
                    <div class="link">
                        <a href="week-2/fonts-part-1.html">Fonts: Part 1</a>
                    </div>
                </li>
                -->
            </ul>
        </li>
        <!-- WEEK 3 -->
        <li>
            <div class="link">
                Week 3
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="troubleshooting.html">Troubleshooting</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-3/fonts-part-1.html">Fonts: Part 1</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="https://www.khanacademy.org/computing/computer-programming/html-css/html-tags-continued/pt/html-links" target="_blank" rel="noopener noreferrer">Khan HTML</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="https://www.khanacademy.org/computing/computer-programming/html-css/css-text-properties/pt/css-font-family-property" target="_blank" rel="noopener noreferrer">Khan CSS</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-3/wireframe-into.html">Wireframe Intro</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 4 -->
        <li>
            <div class="link">
                Week 4
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="https://www.khanacademy.org/computing/computer-programming/html-css/css-text-properties/pt/more-css-text-properties" target="_blank" rel="noopener noreferrer">Khan CSS</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="https://flukeout.github.io/" target="_blank" rel="noopener noreferrer">CSS Diner</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-4/grid.html">CSS Grid</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-4/design-vs-develop.html">Web Designer vs. Web Developer</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 5 -->
        <li>
            <div class="link">
                Week 5
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="image-optimization.html">Image Optimization</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-5/home-page.html">Home Page</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-5/new-vocab.html">New Vocabulary</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 6 -->
        <li>
            <div class="link">
                Week 6
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-6/web-tech.html">Web Technology</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/web-pillars.html">The 3 Web Pillars</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/about-us.html">About Us Page</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/services.html">Services Page</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/faq.html">FAQ Page</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 7 -->
        <li>
            <div class="link">
                Week 7
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-7/elevator-pitch.html">Elevator Pitch</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-7/statements.html">Statements</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-7/design-principles.html">Design Principles</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/about-us.html">About Us Page</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/services.html">Services Page</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-6/faq.html">FAQ Page</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- WEEK 8 -->
        <li>
            <div class="link">
                Week 8
            </div>
            <div class="more">
                <i class="fas fa-caret-down closed"></i>
                <i class="fas fa-times opened"></i>
            </div>
            <ul>
                <li>
                    <div class="link">
                        <a href="week-8/accessibility.html">Accessibility</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-8/graphic-design.html">Graphic Design</a>
                    </div>
                </li>
                <li>
                    <div class="link">
                        <a href="week-8/site-planning.html">Site Planning</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>